<h1>{{restaurants.length}} Restaurants
    <a href="/new">Add</a>
</h1>
<section>

    {{#each restaurants}}

        <article aria-label="{{this.name}}">

            <h1>{{this.name}}
                    <a href="/restaurants/{{this.id}}/delete" aria-label="Delete {{this.name}}"> <i data-feather="x-square"></i>
                    </a>
            </h1>
            
            <a href="/restaurants/{{this.id}}" aria-label="Open {{this.name}} Menu">
            <header style="background-image: url({{this.image}});"></header>
                 
            </a>

        </article>


    {{/each}}

<script>
    feather.replace(); // supports the display of feather icon
</script>

</section>