<!DOCTYPE html>
<html lang="en">
  <%- include ("partials/head") -%>
  <body>
    <div class="container">
      <%- include ('partials/header') %>
      <h2>Welcome, <%= (user.givenName) %></h2>

      <p>Your current balance is: £<%= (user.balance) %></p>

      <form action="/balance" method="POST">
        <input type="hidden" name="email" value="<%= user.email -%>" />
        <label for="amount">Add to balance:</label>
        <input type="text" name="amount" id="amount" />
        <input type="submit" id="submit-amount" />
      </form>

      <%- include("partials/footer") -%> <%- include("partials/scripts"); -%>
      User: <%= JSON.stringify(user) %>
    </div>
  </body>
</html>
