<h1>{{restaurants.length}} Restaurants
    <a href="/new">Add</a>
</h1>
<section>

    {{#each restaurants}}

    <article aria-label="{{this.name}}">

        <h1>{{this.name}}</h1>

        <button onclick="callDelete({{this.id}})"><i data-feather="x-square"></i></button>

        <a href="/restaurants/{{this.id}}" aria-label="Open {{this.name}} Menu">
            <header style="background-image: url({{this.image}});"></header>

        </a>

    </article>


    {{/each}}

    <script>

        function callDelete(restaurantId) {
            const fullURL = "/restaurants/" + restaurantId;

            fetch(fullURL, { method: 'DELETE' })
                .then(response => {
                    if (response.redirected) {
                        window.location.href = response.url;
                    }
                })
                .catch(function (err) {
                    console.error(err);
                });
        }

        feather.replace(); // supports the display of feather icon

    </script>

</section>